
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	line-height: 1.5;
	color: #111;
	background-color: #324126;
}

a {
    color: #bbb;
    text-decoration: none;
}
a.visited {
	color: darken(#bbb, 15%);
}
a.hover {
	color: #111;
	text-decoration: underline;
}
