
body {
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1.125em;
color: #111111;
line-height: 1;
background-color: #1F7D53;
}

a {
color: #BADA55;
text-decoration: none;
}

a:visited {
color: darken(#BADA55, 20%);
}

a:hover {
color: #111111;
text-decoration: underline;
}

div.header {
padding: 2px;
border-radius: 8px;
margin: 20px auto;
min-width: 200px;
width: 1000x;
max-width: 90%;
height: auto;

line-height: 1.5;
text-align: center;

background-color: #E3EBE7;

font-weight: bold;
font-size: 1.5em;
}

div.blob {
padding: 2px;
border-radius: 8px;
margin: 20px auto;
min-width: 200px;
width: 1000x;
max-width: 90%;
height: auto;

line-height: 1.5;
align: center;
text-align: center;

background-color: #E3EBE7;
}

img.preview {
display: block;
padding: 0;
border-radius: 8px;
margin: 0 auto;
min-width: 200px;
width: 400x;
min-height: 200px;
height: 400px;
}

img.inline {
max-width: 80%;
margin: 10px auto;
}

img.icon {
height: 30px;
width: 30px;
}

ul.projects {
padding: 2px;
margin: 20px auto;
min-width: 240px;
width: 1000x;
max-width: 90%;
height: auto;

display: flex;
flex-wrap: wrap;
justify-content: center;
align: center;

list-style: none;

background-color: #777;
}

.projects li.item {
padding: 0;
border-radius: 8px;
margin: 20px;
width: 400x;
max-width: 400x;
height: 400px;
max-height: 400x;

text-align: center;

background-color: #E3EBE7;
background-size: 400px 400px;
background-repeat: no-repeat;
}

.projects li.dummy {
min-height: 0 !important;
height: 0 !important;
padding-top: 0 !important;
padding-bottom: 0 !important;
margin-top: 0 !important;
margin-bottom: 0 !important;
}

div.proj {
color: white;
font-size: 1.25em;
text-align: left;
margin: 15px;
padding: 0;
font-weight: bold;
}

div.proj h3 {
font-size: 1.75em;
font-weight: bold;
text-align: left;
margin-top: 5px;
margin-bottom: 5px;
padding: 0;
}
