
html {
background-color: #a7cdd2;
background-image: url("../images/bg/grass.jpg");
background-size:     cover;
background-repeat:   no-repeat;
background-position: center center;
}

/* Body */

body {
margin: 0;
padding: 0;
font-family: "Courier New", Courier, Arial, sans-serif;
font-size: 1.125em;
color: #111111;
line-height: 1;
}


/* Links */

a {
color: #BADA55;
text-decoration: none;
}

a:visited {
color: darken(#BADA55, 20%);
text-decoration: none;
}

a:hover {
color: #111111;
text-decoration: underline;
}


/* Title Link */

a.title {
font-size: 2em;
color: #5a3c56;
text-decoration: none;
}

a.title:visited {
text-decoration: none;
}

a.title:hover {
text-decoration: none;
}


/* Icon Links */

a.icon {
text-decoration: none;
}

a.icon:visited {
text-decoration: none;
}

a.icon:hover {
text-decoration: none;
}


/* Nav Links */

a.nav {
font-size: 1.1em;
margin-left: 10px;
margin-right: 10px;
margin-top: 0;
margin-bottom: 0;
color: #5a3c56;
text-decoration: none;
}

a.nav:visited {
text-decoration: none;
}

a.nav:hover {
color: white;
background-color: #5a3c56;
}


/* Containers */

div.header {
padding: 0;
border-radius: 8px;
margin: 20px auto;
min-width: 200px;
width: 90%;
max-width: 900px;
height: auto;
line-height: 1.5;
text-align: center;
background-color: #E3EBE7;
font-weight: bold;
}

div.blob {
padding: 0;
border-radius: 8px;
margin: 20px auto;
min-width: 200px;
width: 90%;
max-width: 900px;
height: auto;
line-height: 1.5;
text-align: center;
background-color: #E3EBE7;
}

span.blobtext {
margin: 20px auto;
text-align: left;
}

img.preview {
padding: 0;
border-radius: 8px;
margin: 0 auto;
min-width: 200px;
width: 400x;
min-height: 200px;
height: 400px;
}

img.inline {
max-width: 80%;
margin: 20px auto;
}

img.icon {
margin-left: 15px;
margin-right: 15px;
margin-top: 5px;
margin-bottom: 5px;
height: 35px;
width: 35px;
}

ul.projects {
padding: 2px;
margin: 20px auto;
min-width: 200px;
width: 90%;
max-width: 900px;
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
}

.projects li.item {
border-radius: 8px;
margin: 0;
min-width: 400px;
width: 400px;
height: 400px;
text-align: center;
background-color: #044011;
background-size: 400px 400px;
background-repeat: no-repeat;
}

a.projlink {
margin: 20px;
text-decoration: none;
}

.projects li.dummy {
min-height: 0 !important;
height: 0 !important;
padding-top: 0 !important;
padding-bottom: 0 !important;
margin-top: 0 !important;
margin-bottom: 0 !important;
}

div.proj {
color: white;
font-size: 1.25em;
font-weight: bold;
font-style: italic;
text-align: left;
margin: 15px;
padding: 0;
}

div.proj h3 {
font-size: 1.75em;
font-weight: bold;
font-style: normal;
text-align: left;
margin-top: 5px;
margin-bottom: 10px;
padding: 0;
}
