---
layout: default
title: Nataly Creates
---
<ul class="projects">
	{% for page in site.pages %}
		{% if page.categories contains 'featured' %}
			<a class="projlink" href="{{ page.url | prepend: site.url }}">
			<li class="item" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
			url( {{ page.img }} );">
				<div class="proj">
					<br />
					<br />
					<br />
					<h3>
						{{ page.title }}
					</h3>
					{{ page.url | prepend: site.url }}<br />
					{{ page.url }}<br />
					{{ site.baseurl }}<br />
					{{ page.permalink }}<br />
					<br /><br />
					{{ page.description }}<br />
				</div>
			</li>
			</a>
		{% endif %}
	{% endfor %}
	
	<li class="item dummy"></li>
    <li class="item dummy"></li>
</ul>

