<div class="header">
	<a class="title" href="{{ site.url }}">{{ site.title }}</a>
    <br />
	<a class="icon" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
		<img class="icon" src="{{ site.url }}/images/icons/twitter.png" />
	</a>
	<a class="icon" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
		<img class="icon" src="{{ site.url }}/images/icons/linkedin.png" />
	</a>
	<a class="icon" href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
		<img class="icon" src="{{ site.url }}/images/icons/facebook.png" />
	</a>
	<!--
	<a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a>
	-->
	<br />
	{% for page in site.pages %}
		{% if page.categories contains 'nav' %}
			<a class="nav" href="{{ page.url | prepend: site.url }}">{{ page.title }}</a>
		{% endif %}
	{% endfor %}
</div>
