<head>
  <meta charset="utf-8" />
  <title>
  {% if page.title %}
  {{ page.title | escape }}
  {% else %}
  {{ site.title | escape }}
  {% endif %}
  </title>
  <meta name="description" content="
  {% if page.excerpt %}
  {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
  {% else %}
  {{ site.description }}
  {% endif %}
  " />
  <meta name="viewport" content="width=device-width, initial-scale=0.8" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
</head>
